* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
}

#div-left {
    width: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div-right {
    width: 100vh;
    background-color: orange;
}

#login {
    width: 50vh;
    height: 50vh;
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
}

#input-username {
    width: 40vh;
    height: 5vh;
    margin-left: 5vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border: 0;
    outline: 0;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 1.3rem;
    box-shadow: 0 1px 5px #ccc;
    font-family: inputfont;
}

@font-face {
    font-family: inputfont;
    src: url(Lalezar-Regular.ttf);
}

#input-password {
    width: 40vh;
    height: 5vh;
    margin-left: 5vh;
    margin-top: 1vh;
    margin-bottom: 2vh;
    border: 0;
    outline: 0;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 1.3rem;
    box-shadow: 0 1px 5px #ccc;
    font-family: inputfont;
}

#labelCheckBox {
    margin-left: 11rem;
    font-family: inputfont;
}

#input-checkbox {
    width: 2vh;
    height: 2vh;
    margin-top: -1.5rem;
    margin-left: 17.5rem;
    border: 0;
}

#login-btn {
    width: 40vh;
    height: 5vh;
    margin-left: 5vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border: 0;
    outline: 0;
    border-radius: 10px;
    background-color: #4CAF50;
    box-shadow: 0 1px 5px green;
    font-size: 1.3rem;
    font-family: inputfont;
    transition: 0.5s;
}

#login-btn:hover {
    box-shadow: 0 1px 25px green;
    cursor: pointer;
}