* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
}

#div-left {
    width: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div-right {
    width: 100vh;
    background-color: orange;
}

#login {
    width: 50vh;
    height: 50vh;
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
}